@charset "utf-8";

        @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

        .notosanskr * { 
        font-family: 'Noto Sans KR', sans-serif;
        }

        @font-face {
        font-family: 'Eoe_Zno_M';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_M.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }

        @font-face {
          font-family: 'ChosunSg';
          src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
          font-weight: normal;
          font-style: normal;
      }

        * { margin: 0; padding: 0; box-sizing: border-box; }
        ul, ol, li { list-style: none; }
        a { text-decoration: none; }

        body { overflow-y: hidden; background: #060e1b; }
        header { width: 100%; height: 100vh; }
        header h1 { color: #fff; font-family: 'Eoe_Zno_M'; position: absolute; top: 70%; left: 33%; font-size: 40px; width: 32%; text-align: center; }
        .svg-holder { text-align: center; margin: 0 auto; position: relative; top: 35%; }

        section { width: 100%; height: 100vh; position: relative; background-color: #17182f; }

        #page3 { width: 100%; height: 100vh; text-align: center; background-color: #17182f; }

        .page { margin: 0 auto; position: relative; }

        #page1 canvas { position: absolute; z-index: -1; }
        footer { width: 100%; height: 100vh; background-color: #17182f; }

        #dot {width:80px; height:250px;  position: fixed; justify-content:center;
        align-items:center; display:flex;
        top:50%; right:0px; transform:translatey(-50%); z-index:100;}
        #dot > ul {width:40px; height:220px;}
        #dot li {width:50px; height: 50px; position:relative;
        display:block; margin:10px auto; border-radius:50%;
        box-shadow:-0px 0px 5px rgba(255,255,255,0.1); }

        #dot ul li:nth-of-type(1) { background-image: url(../img/planet1.png); background-repeat: no-repeat; }
        #dot ul li:nth-of-type(2) { background-image: url(../img/planet2.png); background-repeat: no-repeat; }
        #dot ul li:nth-of-type(3) { background-image: url(../img/planet3.png); background-repeat: no-repeat; }
        #dot ul li:nth-of-type(4) { background-image: url(../img/planet4.png); background-repeat: no-repeat; }

        #dot li a {
        transition:all 0.3s ease-in-out;
        top:0; left:0; width:100%; height:100%; outline:none; border-radius:50%;
        cursor:pointer; position:absolute; }

        #dot ul .active {box-shadow:0 0 0 2px #FFA2AD; }
        #dot ul li:nth-of-type(2).active {box-shadow:0 0 0 2px #28A8A8; }
        #dot ul li:nth-of-type(3).active {box-shadow:0 0 0 2px #dcdcdc	; }
        #dot ul li:nth-of-type(4).active {box-shadow:0 0 0 2px #FF8200; }


        .active a {transform:scale(0.4); }
        #dot li:hover {opacity:1; cursor:pointer; }


        .page3Wrap {
        position: relative;
        padding: 2%;
      }

      .chart_container {
        gap: 10px;
        margin-bottom: 10px;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 200px;
      }
      #page2 h1 { font-size: 60px; text-align: center; padding-top: 75px; padding-bottom: 25px; color: #fff; font-family: 'Rowdies', cursive; }

      #page2 .chart {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;

      }

      #page2 span.center {
        background: #fff;
      
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        line-height: 80px;
        font-size: 15px;
        transform: translate(-50%, -50%);
      }

      #page2 button {
        width: 80px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

        .number {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      background-color: #ffb611;
      font-size: 100px;
      list-style: none;
      text-align: center;
      margin-top: 50px;
      color: #333;
      border-radius: 50%;
      }

      #page2 #clickButton_container { width: 50%; height: 625px; background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%); text-align: center; margin: 0 auto; border-radius: 75px; border: 1px solid #fff; position: relative; }
      #clickButton_container .page2_clickButton { width: 90px; height: 90px; background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); border: 3px solid #fff; cursor: pointer; border-radius: 25%; display: flex; }
      .page2_clickButton img { vertical-align: middle; transition: 0.3s; }
      .page2_clickButton img:hover { transform: rotate(-20deg); }

      .page2_clickButton:nth-of-type(1) { position: absolute; top: 7%; left: -3.5%; }
      .page2_clickButton:nth-of-type(2) { position: absolute; top: 24%; left: -3.5%; }
      .page2_clickButton:nth-of-type(3) { position: absolute; top: 41%; left: -3.5%; }
      .page2_clickButton:nth-of-type(4) { position: absolute; top: 58%; left: -3.5%; }
      .page2_clickButton:nth-of-type(5) { position: absolute; top: 75%; left: -3.5%; }

      #page2 #showContainer { width: 125px; height: 125px; position: absolute; top: 27.5%; left: 50%; transform: translate(-50%, -50%); }
      #showContainer .showIcons { position: absolute; top: 0; left: 0;  cursor: pointer; }
      .showIcons img { transition: 0.3s; }
      .showIcons img:hover { transform: rotate(-40deg) scale(1.35); }

      #page2 #showContainer2 { width: 300px; font-family: 'ChosunSg'; font-size: 18px; color: #fff; position: absolute; top: 78%; left: 35%;  }
    
        #page3Wrap {
            width: 100vw;
            height: 100vh;
            position: relative;
            overflow: hidden;
        }
    

    
        .portfolioImage {
            position: relative;
        }

        #page3Wrap .page3_subject { font-size: 60px; color: #fff; font-family: 'Eoe_Zno_M'; font-family: 'Rowdies', cursive; margin-top: 100px; }

        #page3Wrap .noteBook { width: 800px; height: 599px; overflow: hidden; position: relative; margin: 0 auto;
        background-image: url(../img/notebookLayout.png); background-repeat: no-repeat; margin-top: 100px; }
        .noteBook .movingBox { width: 594px; height: 369.5px; overflow: hidden; position: absolute; top: 4.7%; left: 12.95%; }
        .movingBox img { width: 100%; animation: Full 6s linear infinite alternate; }
        .movingBox:not(:first-of-type){ display: none; }


        @keyframes Full{
        0%{transform: translateY(0%);}
        100%{transform: translateY(-50%);}
        }
    
        #page3Wrap .portfolioImage{
            position: absolute;
            transition: 500ms cubic-bezier(1, 0, 0, 1);
            top: 18%;
            left: 14%;
        }
    
        .controlButton {
            position: absolute;
            bottom: 20.5%;
            right: 21%;
            z-index: 100;
        }


        #page3Wrap .UpDownBox {position: relative; margin:20px; box-shadow: 1px 1px 3px rgba(0,0,0,0.3); cursor: pointer; overflow: hidden; width:150px; height: 50px; background: linear-gradient( 120deg, #00008C 0%, #64A0FF ); border-radius:50px; line-height: 50px; font-family: 'Oleo Script Swash Caps', cursive; color: #fff; font-size: 28px; }
        .UpDownBox .UpDown {position: absolute; left: -200%; top:auto; bottom: 0; right: 0; background:linear-gradient( to left, #46AAFF	, #3C3C8C ); color: #fff; width:150px; height: 50px; transition: all 0.4s ease-in-out; font-size:28px; margin:20px 0 0 50px; font-family: 'Oleo Script Swash Caps', cursive; }
        .UpDownBox:hover .UpDown {opacity:1; left: 0; margin:20px 0 0 0;}

        #page3Wrap .hiddenText { position: absolute; top: 29%; right: 8%; font-size: 20px; color: #fff; width: 35%; height: 50%; font-family: 'ChosunSg'; padding-left: 15px; padding-right: 15px; }

        .hiddenText h1 { font-family: 'Eoe_Zno_M'; padding-bottom: 30px; padding-top: 25px; }
        .hiddenText b { color: #FFB0CF; }
        .hiddenText p { line-height: 25px; }

        #page3Wrap #dotContainer2 { text-align: center; position: absolute; top: 85%; left: 31.2%; }
        #page3Wrap .dot2 { width: 20px; height: 20px; margin: 0 2px; background-color: #bbb; border-radius: 50%; display: inline-block; transition: background-color 0.5s ease; }
        #page3Wrap .active2 { background: linear-gradient( 120deg, #00008C 0%, #64A0FF ); }

        #page3Wrap .hashTag { color: #FFB400; font-size: 16px; font-family: 'Literata', serif; margin-top: 25px; }
        .hashTag span { border: 0.15vw solid #FFB400; border-radius: 5vw; margin-left: 10px; padding-left: 10px; padding-right: 10px; }

        footer #introduceContainer { width: 75%; height: 675px; background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); text-align: center; margin: 0 auto; border-radius: 75px; border: 1px solid #fff; position: relative; }

        footer .page4_subject { font-size: 60px; text-align: center; padding-top: 75px; padding-bottom: 25px; color: #fff; font-family: 'Rowdies', cursive; }
        footer .footerSubject2 { font-size: 30px; position: absolute; top: 3%; left: 63.5%; color: #333; font-family: 'Rowdies', cursive; }
        footer .footerSubject3 { font-size: 30px; position: absolute; top: 61%; left: 63.5%; color: #333; font-family: 'Rowdies', cursive; }
        footer .copyright { font-size: 14px; color: #fff; position: absolute; top: 105%; left: 32%; width: 410px; font-family: 'Noto Sans KR', sans-serif; }
        footer #informationBox { font-size: 18px; color: #000; font-family: 'ChosunSg'; position: absolute; top: 63%; left: 0%; width: 600px; }
        #informationBox p { line-height: 25px; }

        footer .pictureBox { background-color: white; width: 300px; height: 300px; text-align: left; border-radius: 50%; margin-bottom: 25px; margin-top: 85px; margin-left: 145px; }
        footer .hiddenExplain1, .hiddenExplain2, .hiddenExplain3, .hiddenExplain4, .hiddenExplain5, .hiddenExplain6 { text-align: center; font-family: 'ChosunSg'; opacity: 0; transition: all 0.5s; }
        footer .hiddenExplain1 { position: absolute; top: 52%; left: -0.5%; color: #333; width: 100%; font-size: 25px;  }
        footer .hiddenExplain2 { position: absolute; top: 50%; left: 0%; transform: translateY(-50%); color: #fff; width: 100%; font-size: 25px;  }
        footer .hiddenExplain3 { position: absolute; top: 50%; left: 0%; transform: translateY(-50%); color: #fff; width: 100%; font-size: 23px;  }
        footer .hiddenExplain4 { position: absolute; top: 50%; left: 0%; transform: translateY(-50%); color: #fff; width: 100%; font-size: 20.5px;  }
        footer .hiddenExplain5 { position: absolute; top: 50%; left: 0%; transform: translateY(-50%); color: #fff; width: 100%; font-size: 25px;  }
        footer .hiddenExplain6 { position: absolute; top: 50%; left: 0%; transform: translateY(-50%); color: #fff; width: 100%; font-size: 25px;  }

        footer .hoverBox { width: 200px; height: 150px; cursor: pointer; background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%); border-radius: 50px; transition: all 0.5s ease; }
        .hoverBox img { transition: all 0.5s; }

        .hoverBox:nth-of-type(2) { position: absolute; top: 10%; left:50%; }
        .hoverBox:nth-of-type(2) img { margin-top: 25px; }
        .hoverBox:nth-of-type(2):hover .hiddenExplain1 { opacity: 1; }
        .hoverBox:nth-of-type(3) { position: absolute; top: 10%; left: 75%; }
        .hoverBox:nth-of-type(3):hover { width: 300px; }
        .hoverBox:nth-of-type(3) img { margin-top: 8px; }
        .hoverBox:nth-of-type(3):hover img { opacity: 0; }
        .hoverBox:nth-of-type(3):hover .hiddenExplain2 { opacity: 1; }
        .hoverBox:nth-of-type(4) { position: absolute; top: 35%; left: 50%; }
        .hoverBox:nth-of-type(4):hover { width: 300px; }
        .hoverBox:nth-of-type(4) img { margin-top: 10px; margin-left: 5px; }
        .hoverBox:nth-of-type(4):hover img { opacity: 0; }
        .hoverBox:nth-of-type(4):hover .hiddenExplain3 { opacity: 1; }
        .hoverBox:nth-of-type(5) { position: absolute; top: 35%; left: 75%; }
        .hoverBox:nth-of-type(5):hover { width: 300px; }
        .hoverBox:nth-of-type(5):hover img { opacity: 0; }
        .hoverBox:nth-of-type(5):hover .hiddenExplain4 { opacity: 1; }
        .hoverBox:nth-of-type(6) { position: absolute; top: 70%; left: 50%; }
        .hoverBox:nth-of-type(6):hover { width: 300px; }
        .hoverBox:nth-of-type(6) img { margin-top: 15px; margin-right: 5px; }
        .hoverBox:nth-of-type(6):hover img { opacity: 0; }
        .hoverBox:nth-of-type(6):hover .hiddenExplain5 { opacity: 1; }
        .hoverBox:nth-of-type(7) { position: absolute; top: 70%; left: 75%; }
        .hoverBox:nth-of-type(7):hover { width: 300px; }
        .hoverBox:nth-of-type(7) img { margin-top: 20px; }
        .hoverBox:nth-of-type(7):hover img { opacity: 0; }
        .hoverBox:nth-of-type(7):hover .hiddenExplain6 { opacity: 1;  }

                                     
        @-webkit-keyframes svg-text-anim {
        40% {
          stroke-dashoffset: 0;
          fill: transparent;
        }
        60% {
          stroke-dashoffset: 0;
          fill: #7878AA;
        }
        100% {
          stroke-dashoffset: 0;
          fill: #7878AA;
        }
        
        }
        @keyframes svg-text-anim {
        40% {
           stroke-dashoffset: 0;
           fill: transparent;
        }
        60% {
          stroke-dashoffset: 0;
          fill: #7878AA;
        }
        100% {
          stroke-dashoffset: 0;
          fill: #7878AA;
        }
        
        }


        #canvas1 {
        position: absolute;
        border: 2px solid black;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      #page2 canvas {
        display: block;
      }

      #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .home-area{
        height: 100vh;
        width: 100%;
        -webkit-background-size:cover;
        background-size:cover;
        background-position: center;
        position: absolute;


    }

